 *{
    margin: 0%;
    padding:0%;
}


.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: green;
    
}

.logo{
    font-size: 50px;
    color:black;
}

.links{
        padding-right: 50px;
        text-decoration:none;
        font-size: 20px;
        padding: 10px 30px;
        border-radius: 7px;
        color: bisque;
        

}

.links a{
    margin-right: 60px;
    text-decoration: none;
    color: black;
}
.links a:hover{
    background-color: rgb(74, 74, 119);
    color:rgb(129, 74, 74);
    

} 